.filter {
  position: relative;
  top: 86px;
}

.search-btn {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: var(--light-color);
  border: 2px solid var(--secondary-text-color);
  cursor: pointer;
  background: #c20000;
  border-radius: 5px;
  padding: 10px;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.33;
  position: absolute;
  bottom: 20px;
  left: 60px;

  &:hover{
    box-shadow: 0px 3px 1px rgb(0 0 0 / 10%), 0px 1px 2px rgb(0 0 0 / 8%), 0px 2px 2px rgb(0 0 0 / 12%);
    background-color: #A50000;
  }
}

.filter__wrap {
  display: none;
}

.filter__wrap.is-open {
  display: block;
  z-index: 1;
  position: absolute;
  top: -4px;
  left: 0;
  width: 100%;
  height: fit-content;
}

.genre-search {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-left: auto;
  margin-right: auto;
  padding: 30px 30px;
  max-width: 250px;
  border-radius: 5px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;

    margin-left: auto;
    margin-right: auto;
    margin-top: -84px;
    padding: 30px 30px;
    max-width: max-content;
  }
}

.search-label {
  color: var(--light-color);
  font-weight: 500;
  margin: 20px 0px;

  &:first-child {
    margin-top: 0;
  }

  @media screen and (min-width: 768px) {
    margin: 0 20px;

    &:first-child {
      margin-left: 0;
    }
  }
}

select {
  border: 1px solid rgb(230, 199, 142);
  border-radius: 5px;
}

option {
  padding: 20px;
  background-color: rgb(246, 242, 238);
}

.first-opt {
  background-color: rgb(235, 224, 245);
}
