.footer{
    display: flex;
    justify-content: center;
    padding: 30px 0;
    background-color: white;
    position: fixed;
    right: 0;
    bottom: 0;
    text-align: center; 
    width: 99%;   
    font-size: 19px;
 font-weight: bold;
   color: #fafaff; 
}

.footer__button{
  color: #545454;
  border: none;
  cursor: pointer;
  background-color: transparent;
  text-decoration-line: underline;

  &:hover,
  &:focus {
    color: #ff6b08;
  } 
}
.click {
  @media screen and (max-width: 1023px) {
    display: none;
  }
  text-align: left;
}
.footer__text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color: #545454;
}
.heart {
    animation: heartbeat 1s infinite;
    background-color: rgb(255, 107, 8);
    display: inline-block;
    height: 10px;
    margin: 0 10px;
    top: 0;
    transform: rotate(-45deg);
    width: 10px;
  
    &:before,
    &:after {
      content: '';
      background-color: rgb(255, 107, 8);
      border-radius: 50%;
      height: 10px;
      position: absolute;
      width: 10px;
    }
  
    &:before {
      top: -5px;
      left: 0;
    }
  
    &:after {
      left: 5px;
      top: 0;
    }
  }
  
  @keyframes heartbeat {
    0% {
      transform: scale(1) rotate(-45deg);
    }
    20% {
      transform: scale(1.1) rotate(-45deg);
    }
    40% {
      transform: scale(1.2) rotate(-45deg);
    }
  }
 