.footer{
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.footer__button{
    background-color: transparent;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}

.footer__text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color: #545454;
}