.card__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  margin-left: -30px;
  margin-bottom: -30px;
}

.card__item {
  overflow: hidden;
  margin-left: 15px;
  margin-bottom: 15px;
  flex-basis: 100%;
  position: relative;
  transition-property: transform;
  transition-duration: 250ms;

  &:hover,
  &:focus {
    transform: scale(1.03);
  }
}

.card__poster {
  height: 398px;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
  display: block;
  border-radius: 6px;
}

.card__link {
  display: block;
  text-decoration: none;
}

.btn-load-more.is-hidden {
  display: none;
}

.btn-load-more {
  display: block;
  margin: 25px auto 0 auto;
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  background-color: #3f57b3;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  font: inherit;
  color: white;
  cursor: pointer;
}

.btn-to-top {
  position: fixed;
  bottom: 3vh;
  right: 1vw;
  z-index: 1000;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #3f57b3;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  color: white;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
}

.btn-to-top--visible {
  opacity: 1;
  visibility: visible;
}

.btn-to-top:hover {
  background-color: #2b3e88;
  transition: all 0.3s;
}

.card__title {
  text-transform: uppercase;

  margin-top: 10px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  text-align: start;
}

.card__genre {
  display: inline;

  text-align: start;
  font-size: 12px;
  line-height: 1.33;
  color: #ff6b08;
}

// ************************** MOB *******************

@media screen and (max-width: 767px) {
  .card__item {
    width: 280px;
  }

  .card__poster {
    width: 280px;
  }
}

// ************************ TAB ***************************

@media screen and (min-width: 768px) {
  .card__item {
    width: 294px;
    flex-basis: calc(50% - 15px);
  }

  .card__poster {
    width: 294px;
  }
}

// *********************** DESK ********************

@media screen and (min-width: 1024px) {
  .card__item {
    width: 274px;
    flex-basis: calc(100% / 3 - 15px);
  }

  .card__poster {
    width: 274px;
  }
}
