.card__item {
  overflow: hidden;
  width: 100%;
  margin-bottom: 20px;
  position: relative;
  transition-property: transform;
  transition-duration: 250ms;

  &:hover,
  &:focus {
    transform: scale(1.03);
  }
}

.card__poster {
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
  display: block;
  border-radius: 6px;
}

.card__link {
  display: block;
  text-decoration: none;
}

.btn-load-more.is-hidden {
  display: none;
}

.btn-load-more {
  display: block;
  margin: 25px auto 0 auto;
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  background-color: #3f57b3;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  font: inherit;
  color: white;
  cursor: pointer;
}

.btn-to-top {
  position: fixed;
  bottom: 3vh;
  right: 1vw;
  z-index: 1000;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #C20000;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  color: white;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
}

.btn-to-top--visible {
  opacity: 1;
  visibility: visible;
}

.btn-to-top:hover {
  background-color: #A50000;
  transition: all 0.3s;
}

.card__title {
  text-transform: uppercase;

  margin-top: 10px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  text-align: start;
}

.card__genre {
  display: inline;

  text-align: start;
  font-size: 12px;
  line-height: 1.33;
  color: #ff6b08;
}

// ************************ TAB ***************************

@media screen and (min-width: 768px) {
  .card__list {
    width: 704px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -30px;
  }

  .card__item {
    width: 336px;
    margin-bottom: 32px;
  }

  .card__poster {
    
    height: 455px;
  }
}

// *********************** DESK ********************

@media screen and (min-width: 1280px) {
  .card__list {
    width: 1216px;
  }

  .card__item {
    width: 395px;
  }

  .card__poster {
    height: 574px;
  }
}
